/* LITERATA et ROBOTO */

@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,700&family=Roboto:wght@400;700&display=swap');

:root {
    --pme-color-fill-brand:rgb(0, 217, 255);
    --pme-color-fill-default: #f0f0f0;
    --pme-color-fill-accent: #e90156;;
    --pme-color-text-default:#333333; 
}
