@import './styles/_variables';
//@import './styles/_fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;



:root 
{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    // text-rendering: optimizeLegibility;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}



.App 
{
    max-width: 632px;
    min-height: 200px;
    padding: 20px 20px 40px 20px;
    //height: 330px;
    background: var(--color-fill-weak);

    @media (max-width: $mobile) {
        max-width: 100%;
        padding: 10px 10px 40px 10px;
    }
}

.label1
{
    font-family: InterVariable;
    color: var(--color-text-brand);
    font-weight: 500;
}

.label2 
{
    font-family: BlickVariable;
    font-size: 19px;
    color: var(--color-text-default);
    line-height: 1.2;
    font-weight: 600;
}

.label3
{
    font-family: InterVariable;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    width: calc(100% - 60px); 
    
    color: var(--color-text-default);
    padding: 13px 15px 13px 15px;

    @media (max-width: $mobile) {
        //font-size: 16px;
        padding: 13px 10px 13px 10px;
    }
}



ul#answers {

    li.answer
    {
      margin-bottom: 3px;
      border: 2px solid transparent;
      border-radius: 0.375rem;

      &:hover 
      {
        border: 2px solid var(--color-stroke-brand);
        cursor: pointer;
      }
     
  
      &:last-child
      {
        margin-bottom: 0;
      }
  
  
      .bar 
      {
        background: var(--color-fill-default);
        
  
        .bar-gauge
        {
          background: var(--color-fill-brand);
          width: 0px;
        }

        .bar-gauge-bg
        {
          background: rgba(255, 255, 255, 0.65);
        }
      }
  
      .percent
      {
        font-family: blickVariable;
        font-weight: 600;
        color: var(--color-text-default);
        display: none;
        align-items: center;
        justify-content: center;
        right: 16px;
  
        //background: $gray;
        .percent-value
        {
          font-family: blickVariable;;
        }
      }
    }
  }

#total-votes
{
    color: var(--color-text-default);
    opacity: 0;
}




// STATES
.App.voted #answers .answer:hover
{
  border: 2px solid transparent;
  cursor: default;
}





.App.post-mode 
{

  background: rgba(50, 50, 50, 0.5);
  max-width: 480px;

  li:hover
  {
    cursor: default;
    border: 0;
    
  }

  .bar
  {
    background: transparent !important;
    border: 0 !important;

    span { height: 6px;}
  }

  .label1
  {
    //color: $blick-light;
    color: var(--color-static-neutral-200);
  }

  .label2
  {
    color: white;
  }

  .label3
  {
    color: white;
    padding-left: 0;
    font-size: 19px;
    padding-top: 9px;
    padding-bottom: 26px; 
    line-height: 1.2; 

    
  }

  .percent
  {
    color: white !important;
    background: transparent !important;
    opacity: 100 !important;
    margin-top: -2px;
    font-size: 19px;
    padding-bottom: 13px;
    right: 0;
  }

  #total-votes
  {
    display: none;
  }
}